
/* CONTAINER ================== */

.container {
    width: 1140px;
    margin: 0 auto;
}

/* LOADER BUTTON ================== */

button {
    color: #ffffff;
    background-color: #18cfab;
    padding: 10px 18px 10px 18px;
    border: none;
    border-radius: 4px;

    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
    
    button:active, button:focus {
        outline: none;
    }

    button:active {
        background-color: #62f1c2;
    }

.plus {
    font-size: 30px;
    font-weight: bold;
    padding-right: 5px;
}

/* SECTION NAME ============== */

.section-name {
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #4e4e4e;
    position: relative;

    padding: 80px 0 100px 0;
}

.section-name::after {
    content: '';
    display: block;
    width: 90px;
    border-bottom: 1px solid #18cfab;
    position: absolute;

    right: 45%;
    bottom: 60px;
}

.section-name::before {
    content: '';
    display: block;
    width: 90px;
    border-bottom: 1px solid #18cfab;
    position: absolute;

    right: 46.5%;
    bottom: 65px;
}


/* TEXT ALIGN ================= */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


/* FLEX ATOMIC ============== ======= */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-js-sb {
    justify-content: space-between;
}

.flex-c {
    align-items: center;
}

.flex-js-c {
    justify-content: center;
}

.flex-g {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}

.flex-basis-4 {
    flex-basis: 25%;
}

.flex-basis-6 {
    flex-basis: 16.6%;
}

.flex-w {
    flex-wrap: wrap;
}

/* HEADER ===================== */

.header {
    background-image: url('../img/bg_header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1000px;
}

/* HEADER LOGO ================= */

.header-logo-link {
    text-decoration: none;
}

.header-logo-text {
    padding-left: 10px;
    text-transform: lowercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: #ffffff;
}

.logo-color {
    font-weight: 600;
    color: #18cfab;
    text-transform: capitalize;
}

/* HEADER MENU NAV ===================== */

.header-nav {
    padding: 22px 0 22px 0;
    background-color: #ffffff;
    background-color: rgba(73, 71, 63, 0.6);
}

.header-nav-link:hover {
    padding-bottom: 47px;
    border-bottom: 2px solid #18cfab;
    color: #18cfab;
}

.header-nav-item:nth-child(n) {
    padding-left: 20px;
}

.header-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #b8b8b8;
}


/* HEADER DESCRIPTION ===================== */

.header-desc {
    padding-top: 240px;
}

.desc-heading-1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;

    padding-bottom: 45px;
}

.desc-heading-1-color {
    color: #18cfab;
}

.desc-heading-2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 79px;
    color: #ffffff;
    text-transform: uppercase;

    padding-bottom: 45px;
}

.desc-heading-3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 34px;
    color: #d4d4d4;
    text-transform: capitalize;

    padding-bottom: 140px;
}

.header-desc-btn-1 {
    padding-right: 25px;
}

.header-btn-link-1 {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #ffffff;

    padding: 20px 25px 20px 25px;
    background-color: #18cfab;
    border-radius: 5px;
    border-top: 4px #ffffff solid;
}

.header-btn-link-2 {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #ffffff;
    border-top: 4px #ffffff solid;

    padding: 20px 25px 20px 25px;
    background-color: #00cbf6;
    border-radius: 5px;
}

.header-btn-link-1:hover {
    background-color: #62f1c2;
}

.header-btn-link-2:hover {
    background-color: #56e1fd;
}


/* FEATURES ======================= */

.features-item:nth-child(even) {
    background-color: #18cfab;
    border-top: 5px solid #ffffff;
}

.features-item:nth-child(even):hover {
    background-color: #3bdaba;
    border-top: 5px solid #ffffff;
}

.features-item:nth-child(odd) {
    background-color: #1c2a33;
    border-top: 5px solid #18cfab;
}

.features-item:nth-child(odd):hover {
    background-color: #243a47;
    border-top: 5px solid #18cfab;
}

.features-link {
    text-decoration: none;
    padding: 80px 0 90px;
}

.features-text {
    padding-top: 50px;
}

.text-color-g {
    color: #18cfab;
}

.text-color-w {
    color: #ffffff;
}

.features-img {
    height: 60px;
}

.features-text {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

/* OUR SERVICE ====================== */

/* OUR SERVICE TABS ===================== */

.tabs__content {
    display: none; 
    padding: 20px 0 100px 0;
}

.tabs__content.active {
    display: flex; 
}

.tabs__caption li:not(.active) {
    cursor: pointer;
}
  
.tabs__caption {
    background-color: #f8fcfe;
}

.tabs-btn {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #717171;

    border: 1px solid #ebebeb;
    padding: 25px 15px 26px 15px;
    position: relative;
}

.tabs-btn.active::after {
    content: '';
    position: absolute;
    top: 65px;
    right: 80px;
    border: 15px solid transparent;
    border-top: 12px solid #18cfab;
}
  
.tabs__caption li:not(.active)::after:hover {
    background: #18cfab;
    color: #ffffff;
}

.tabs__caption .active {
    background: #18cfab;
    color: #ffffff;
}

.tabs-img {
      width: 16.6%;
      margin: 5px 0 0 0;
}

.tabs-text { 
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 13.66px;
    color: #777777;
    line-height: 2;
    text-align: justify;

    padding-left: 20px;
}

/*SECTION BUY ======================= */

.section-buy {
    background-image: url('../img/Layer_2.png');
    padding: 100px 0 260px;
}

.section-buy-name {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #18cfab;
}

.section-buy-desc {
    text-decoration: none;
    text-transform: initial;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;

    padding-top: 20px;
}

.section-buy-btn {
    position: relative;
}

.buy-btn {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #ffffff;

    position: relative;
    top: 110px;

    padding: 20px 25px 20px 25px;
    background-color: #18cfab;
    border-radius: 5px;
    border-top: 4px #ffffff solid;
}

.buy-btn:hover {
    background-color: #45ddbf;  
}


/* OUR AMAZING WORK ===================== */

.our-amazing-work {
    background-color: #f8fcfe;
    padding-bottom: 100px;
    border-bottom: 1px solid #ebebeb;
}

.filter-btn-list {
    padding-bottom: 70px;
}

.filter-gallery {
    flex-wrap: wrap;
}


.filter-btn-list>ul>li:hover, .filter-btn-list>ul>li.active {
    box-shadow: 0px -2px 0px 0px rgba(24,207,170,1);
    color: #18cfab;
    cursor: pointer;
} 

.filter-btn-list>ul>li {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #979797;
    background-color: #ffffff;

    text-decoration: none;
    border: 1px solid #ebebeb;
    padding: 20px 20px;

}

.filter-img:hover {
    opacity: 0;
}

.filter-item-img {
    position: relative;
}

.filter-item-img:hover::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #62f1c2;
}

.filter-hide-b {
    display: none;
}

.filter-hide-b:hover {
    display: block;
    /* background-color: #ffffff; */
}

/* BREAKING NEWS ===================== */ 

.breaking-news {
    padding-bottom: 80px;
}

.breaking-news-item {
    display: inline-block;
    margin-bottom: 45px;
    position: relative;
}

.bn-date {
    width: 66px;
    height: 66px;
    background: #203e38;

    position: absolute;
    right: 0;
    top: 0; 
}

.date-num {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;

    padding-bottom: 5px;
}

.date-month {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

.bn-desc {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background-color: #f8fcfe;

    padding-left: 15px;
    padding-top: 10px;
}

.bn-name-link {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #717171; 
}

.bn-bottom {
    padding: 10px 0 10px;
}

.bn-author-link {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #717171;
    padding-right: 25px;
    
    position: relative;
}

.bn-author-link:hover , .bn-comments-link:hover {
    color: #1c2a33;
}

.bn-comments-link {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #717171; 
}

.bn-author-link::after {
    content: '';
    border-right: 1px solid #717171;
    position: relative;

    left: 12px;
}

.bn-link:hover>.bn-date {
    background-color: #18cfab;
}

.bn-name-link:hover {
    color: #18cfab;
}

.bn-link:hover + .bn-desc>.bn-name-link {
    color: #18cfab;
}

/* GALLARY OF BEST IMAGES =============== */

.gallery-best-img {
    padding-bottom: 120px;
}

.grid-item {
    margin-bottom: 20px;
  }
  
  /* .grid-sizer, */
  .grid-item {
    width: 32%;
  }

  .grid-item img {
    max-width: 100%;
  }

.gutter-sizer { 
    width: 2%;
}

.gallery-button-loader {
    padding: 50px 0 0px;
}

/* SLIDER STAFF ===================== */

.glide__slide {
    position: relative;
    padding-bottom: 50px;
}

.forma22::before {
    content: url('../img/Forma_22.png');
    width: 20px;
    height: 20px;
    position: absolute;
    right: 50%;
    top: 0;
}

.slider-staff {
    background-image: url('../img/bg_slider.png');
}

.slider-staff-name {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #ffffff; 

    position: relative;
}

.glide-text {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #bbbbbb;
    line-height: 2;
    padding-top: 70px;
}

.glide-name {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #18cfab;

    padding: 50px 0 10px;
}

.glide-title {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #a3a7a8;

    padding-bottom: 40px;
}

.glide-img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    border: 3px solid #18cfab;
    box-shadow: 0px 0px 0px 11px rgba(24,207,171,0.19);
}

.block-arrows { 
    padding-bottom: 170px;
}


.glide-bullet-img {
    cursor: pointer;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 1px solid #18cfab;
    box-shadow: 0px 0px 0px 5px rgba(24,207,171,0.19);
    margin-right: 40px;
}

.glide-bullet-img:last-child {
    margin-right: 0;
}

.glide__bullet--active {
    margin-top: -10px;
}

.glide__arrow--left {
    left: 18em;
}

.glide__arrow--right {
    right: 18em;
}

.glide__arrow {
    top: 85%;
    border-radius: 0px;
}

.arr-img {
    width: 12px;
    height: 12px;
}

/* FOOTER ========================= */

.footer {
    background-color: #22353f;
    border-bottom: 10px solid #ffffff;
}

.copyright-link {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}

.copyright-link>.text-color-g:hover {
    color: #50e7c9;
}

.copyright-name {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;

    padding: 50px 0 50px; 
}

